<form #carForm="ngForm"  (ngSubmit)="addCars(newCar); carForm.reset()">
    <div class="form-group">
      <label>Mark</label>
      <input #mark="ngModel" [(ngModel)]="newCar.mark" minlength="2" type="text" name="mark" class="form-control" required>
    </div>
    <!-- ERRORS -->

    <div *ngIf="mark.invalid && (mark.dirty || mark.touched)"
    class="alert alert-danger">
      <div *ngIf="mark.errors.required">
          Mark is required.
      </div>
      <div *ngIf="mark.errors.minlength">
              Mark must be at least 2 characters long.
      </div>  
  </div>

    <div class="form-group">
      <label>Model</label>
      <input #model="ngModel" [(ngModel)]="newCar.model" minlength="2" type="text" name="model" class="form-control" required>
    </div>
    <!-- ERRORS -->

    <div *ngIf="model.invalid && (model.dirty || model.touched)"class="alert alert-danger">
      <div *ngIf="model.errors.required">
          Model is required.
      </div>
      <div *ngIf="model.errors.minlength">
            Model must be at least 2 characters long.
      </div>  
    </div>



    <div class="form-group">
      <label>Year</label>
      <select #year="ngModel" [(ngModel)]="newCar.year" name="year"
              class="form-control" required>
          <option *ngFor="let year of years">{{ year }}</option>
      </select>
    </div>

    <!-- ERRORS -->

    <div *ngIf="year.invalid && (year.dirty || year.touched)"class="alert alert-danger">
      <div *ngIf="year.errors.required">
          Year is required.
      </div>    
   </div>

    <div class="form-group">
      <label>Max Speed</label>
      <input #maxSpeed="ngModel" [(ngModel)]="newCar.maxSpeed" min="100" max="300" type="number" name="maxSpeed" class="form-control">
    </div>
    <!-- ERRORS -->
    <!-- <div *ngIf="maxSpeed.errors.min" class="alert alert-danger">
        Minimal speed must be more than 20 kmph.
    </div> -->

    <!-- <div *ngIf="maxSpeed.errors.max" class="alert alert-danger">
            Maximal speed must be less than 300 kmph.
    </div>     -->
     

   
    <div class="form-group">
      <label>Is Automatic</label>
      <input #isAutomatic="ngModel" [(ngModel)]="newCar.isAutomatic" name="isAutomatic" type="checkbox" class="form-control"> 
    </div>

      
    <div class="form-group">
      <label>Number od Door</label>
      <input #numberOfDoors="ngModel" [(ngModel)]="newCar.numberOfDoors" min="2" max="5" type="number" name="numberOfDors" class="form-control" required>
    </div>
    <!-- ERRORS -->

    <div *ngIf="numberOfDoors.invalid && (numberOfDoors.dirty || numberOfDoors.touched)"
    class="alert alert-danger">
    <div *ngIf="numberOfDoors.errors.required">
        Number of doors is required.
    </div>
    </div>
  
    <div class="form-group">
      <label>Engine</label><br>
      <input [(ngModel)]="newCar.engine"  type="radio" name="engine" value="diesel" required> Diesel<br>
      <input [(ngModel)]="newCar.engine"  type="radio" name="engine" value="petrol" required> Petrol<br>
      <input [(ngModel)]="newCar.engine"  type="radio" name="engine" value="electric" required> Electric<br>
      <input [(ngModel)]="newCar.engine"  type="radio" name="engine" value="hybrid" required> Hybrid<br>
    </div>

    <button type="button" class="btn btn-danger" [disabled]="carForm.pristine" (click)="carForm.reset()">Reset</button>
    <button *ngIf="router.url.includes('add')" type="submit" class="btn btn-primary" [disabled]="!carForm.valid">Add New Car</button>
    
    <button type="button" class="btn btn-primary" (click)="preview(newCar)">Preview</button>

    <a *ngIf="router.url.includes('edit')" routerLink="/cars" type="button" class="btn btn-primary">Save edit</a>
    
  </form>