<h1>Cars</h1><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Mark</th>
      <th>Model</th>
      <th>Year</th>
      <th>Max Speed</th>
      <th>Is Automatic</th>
      <th>Engine</th>
      <th>Number of doors</th>
    </tr>
  </thead>
  <!-- <tbody>
    <tr *ngFor="let buyer of allBuyers ">
      <td class="align-middle">
        {{ buyer.firstName }} {{ buyer.lastName }}        
      </td>
      <td class="align-middle">{{ buyer.email }}</td>
      <td class="align-middle"><a [routerLink]="['/buyers', buyer.id]">Check latest purchases</a> </td>
      <td><button class="btn btn-danger btn-sm" (click)="remove(buyer)">Remove</button></td>
    </tr>
  </tbody> -->
</table>